body {
  font-family: 'Arial';
  background: #34495e;
  color: #fff;
  padding: 0;
  margin: 0; }

.tabcontent {
  display: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: white;
  color: black;
  }

.wrapper {
  width: 800px;
  padding: 100px 20px;
  max-width: 100%;
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    display: inline-block; }

button, input[type="submit"] {
  background: #e84118;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: 0;
  border: none;
  }
  button:hover, input[type="submit"]:hover {
    opacity: 0.5; }

form p {
  padding: 10px;
  font-size: 0;
  border-top: 1px solid white; }
  form p:last-child {
    text-align: center; }
  form p > label, form p > span {
    display: inline-block;
    vertical-align: middle;
    width: 50%; }
  form p label, form p input {
    font-size: 16px;
    line-height: 22px; }
  form p .error {
    display: none;
    font-size: 14px;
    color: red;
    margin-top: 10px;
    width: 100%; }

form input[type="submit"] {
  margin-top: 20px;
  background: #44bd32;
  border-radius: 5px;
  }

.form-error {
  font-size: 16px; }

.nav {
  font-size: 0;
  background: #d0cfcf;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  }
  .nav * {
    display: inline-block;
    vertical-align: middle; }

.wrapper .tabcontent:not(.first) p {
  padding: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 15px 10px; }
  .wrapper .tabcontent:not(.first) p:first-child {
    margin-top: 0;
    padding-top: 15px; }
  .wrapper .tabcontent:not(.first) p > span {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
form{
  background: white;
  color: black;
  margin-bottom: 0;
  padding-bottom: 10px;
}

ul li {
  border-left: 2px solid transparent; 
  overflow: hidden;
}