body{
    font-family: 'Arial';
    background: #34495e;
    color: #fff;
    padding: 0;
    margin: 0;
}
.tabcontent{
    display: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
 
.wrapper{
    width: 800px;
    padding: 100px 20px;
    max-width: 100%;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
    }
}

button, input[type="submit"]{
    border:1px solid #2c3e50;
    background: #2ecc71; 
    font-size: 16px;
    padding:10px 20px;
    color: white;
    transition: 0.3s ease-in-out;
    margin: 0;
    &:hover{
        opacity: 0.5;
    }
}

form{
    p{
        padding: 10px; 
        font-size: 0;
        border-top: 1px solid white;
        &:last-child{
            text-align: center;
        }
        > {
            label, span{
                display: inline-block;
                vertical-align: middle;
                width: 50%; 
            }
        }
        label, input{
            font-size: 16px;
            line-height: 22px;
        }
        .error{
            display: none;
            font-size: 14px;
            color: red;
            margin-top: 10px;
            width: 100%;
        }
    }

    input[type="submit"]{
        margin-top: 20px;
        background: #2980b9;
    }
}
 
.form-error{
    font-size: 16px;
}

.nav{
    font-size: 0;
    border: 1px solid #fff; 
    *{ 
        display: inline-block;
        vertical-align: middle;
    }
} 

.wrapper .tabcontent:not(.first){
    p{
        padding: 0; 
        font-size: 0;
        box-sizing: border-box; 
        margin: 15px 10px;
        &:first-child{
            margin-top: 0;
            padding-top: 15px;
        }
        > span{
            display: inline-block;
            vertical-align: middle; 
            width: 50%;
            font-size: 16px;
            box-sizing: border-box;
        }
    }
}
